<div class="login my-5">
  <h1 class="display-4 text-center mb-4">{{ title }}</h1>
  <form action="/user/login" method="POST">
    <div class="row">
      <div class="col col-sm-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" name="username" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control  form-control-lg" id="exampleInputPassword1" placeholder="Enter password">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg mt-3">Sign In</button>
  </form>
  <p class="lead text-center mt-4">Do not already have an account? Let's <a href="/user/register">Sign Up</a></p>
</div>