<div class="messages-container">
  {{#if success_msg}}
  <div class="row">
    <div class="col col-sm-12">
      <div class="alert alert-success mt-4">
        {{ success_msg }}
        <span class="close alert-close">&times;</span>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if error_msg}}
  <div class="row">
    <div class="col col-sm-12">
      <div class="alert alert-danger mt-4">
        {{ error_msg }}
        <span class="close alert-close">&times;</span>
      </div>
    </div>
  </div>
  {{/if}}

  {{#if error}}
  <div class="row">
    <div class="col col-sm-12">
      <div class="alert alert-danger mt-4">
        {{ error }}
        <span class="close alert-close">&times;</span>
      </div>
    </div>
  </div>
  {{/if}}
</div>