<div class="dashboard">
  <div class="dashboard-overlay"></div>
    <div class="container dashboard-container">
      <div class="dashboard-content">
      <h1 class="display-3">{{ title }}</h1>
      <br>
      <p class="lead">Welcome {{user.name}}, <br> It seems you have not setup your profile yet, Let's create one..</p>
      <br>
      <a class="btn btn-dashboard btn-lg" href="/items" role="button">Get Started</a>
      <a class="btn btn-create-profile btn-lg" href="/user/profile/create" role="button">Create Profile</a>
    </div>
  </div>
</div>