<div class="home">
  <div class="jumbotron" style="background: transparent">
    <h1 class="display-3">{{ title }}</h1>
    <br>
    <p class="lead">Welcome {{user.name}}</p>
    <br>
    <a class="btn btn-primary btn-lg" href="/items" role="button">Get Started</a>
  </div>
</div>