<div class="add-item my-5">
  <div class="container">
    {{#if errors}}
    <div class="messages-container">
      {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <h1 class="text-primary mb-4">{{ title }}</h1>
    <form action="/items/add" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" name="name" class="form-control form-control-lg" id="exampleInputName"
              placeholder="Enter item">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="inlineFormInputGroup">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" name="price" class="form-control form-control-lg" id="inlineFormInputGroup"
                placeholder="Enter Price">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="exampleInputProvider">Provider</label>
            <input type="text" name="provider" class="form-control form-control-lg" id="exampleInputProvider"
              placeholder="Enter provider">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlFile1">Pick an image</label>
            <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info mt-3 btn-lg">Submit</button>
    </form>
  </div>
</div>