.home {
  position: relative;
  height: 100vh;
  background-image: url('/images/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6d7586;
  opacity: .65;
}

.home-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.home-content {
  z-index: 100;
  color: #fff;
}

.home-content h1 {
  font-family: 'Poppins', sans-serif;
}

.home-content .btn {
  padding: 1rem 3.5rem;
  color: #223655;
  outline: none;
  box-shadow: 1px 2px 4px #000;
}

.btn-signup {
  background: coral;
  color: #fff !important;
}

.btn-signin {
  background: #fff;
}

.btn-signup:hover, .btn-signin:hover {
  background: #223655;
  color: #fff;
  box-shadow: none;
}