.profiles-card {
  height: 200px;
}

.profiles-card img {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profiles-card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile img {
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}