<div class="home">
  <div class="jumbotron" style="background: transparent">
    <h1 class="display-4">{{ title }}</h1>
    <br>
    <p class="lead">Welcome to Shoppify, Let's start buying things cheap</p>
    <br>
    <a class="btn btn-primary btn-lg" href="/user/register" role="button">Sign Up</a>
    <a class="btn btn-dark btn-lg" href="/user/login" role="button">Sign In</a>
</div>
</div>