<div class="home">
  <div class="home-overlay"></div>
  <div class="container home-container">
    <div class="home-content">
      <h1 class="display-4 m-0">Shoppify Marketting</h1>
      <br>
      <p class="lead">Shoppify gives you a better marketting, <br> Let's start buying</p>
      <br>
      <div class="btn-group">
        <a class="btn-signup btn btn-lg" href="/user/register" role="button">Sign Up</a>
        <a class="btn-signin btn btn-lg" href="/user/login" role="button">Sign In</a>
      </div>
    </div>
  </div>
</div>