<div class="cart-success">
  <div class="container">
    <h1 class="display-4">Thank you so much!</h1>
    <p class="lead">We will email you within a day, <br> It's really pleasure to welcome you again.</p>
  </div>
</div>